.minicard-image {
    width: 100%; /* Esto hará que todas las imágenes ocupen el ancho completo de sus contenedores */
    height: 20em; /* Puedes ajustar este valor según tus necesidades */
    margin-right: 5dvh;
  }
  