/* Estilos específicos para la vista ComprarNumero */
.comprar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* Altura total de la ventana menos la altura del navbar */
  margin-top: 80px; /* Margen superior igual a la altura del navbar */
  margin-bottom: 80px; /* Margen inferior igual a la altura del footer */
}

.comprar-form {
  max-width: 800px; 
  width: 100%;
  padding: 20px;
  background-color: #ffc0cb;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comprar-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.comprar-input {
  margin-bottom: 20px;
}

.comprar-select {
  margin-bottom: 20px;
}

.comprar-button-group {
  display: flex;
  justify-content: space-between;
}

.comprar-button {
  flex: 1;
  margin-right: 10px;
}

.comprar-data-review {
  max-width: 800px; /* Ancho máximo ajustado para la sección de revisión de datos */
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comprar-review-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.comprar-review-text {
  margin-bottom: 10px;
}